@import '@src/styles/mixins/text';
@import '@src/styles/mixins/icons';
@import '@src/styles/variables/colors';
@import '@src/styles/variables/grid';

.root {
  :global {
    .ant-select {
      display: flex;
      flex: 1;
      padding: 12px 16px;
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 4px;
      background-color: #eef0f4;

      &-open,
      &-focused,
      &-enabled {
        .ant-select-selection {
          height: auto;
          border: none;
          background: none;
          box-shadow: none;
        }
      }

      &::before {// search icon
        margin-right: 16px;
        display: block;
        content: '';
        @include search;
      }
    }

    .ant-select-selection {
      flex: 1;

      &--single {
        height: auto;
      }

      &__rendered {
        margin: 0;
        line-height: initial;
      }

      &__clear{
        background: none;
      }
    }

    .ant-select-selection-selected-value {
      @include Body-1Basic900Left;
    }

    .ant-select-selection__placeholder {
      @include Body-1Basic600Left;
      margin: 0;
      transform: translateY(-50%);
      height: auto;
      line-height: initial;
    }

    .ant-select-search {
      .ant-select-search__field__wrap {
        display: flex;
      }
      
      input {
        @include Body-1Basic900Left;
        padding: 0;
      }
    }
  }
}

.clearIcon {
  &::before {
    display: block;
    content: '';
    @include clear;
  }
}

.dropdown {
  &:global(.ant-select-dropdown) {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    line-height: initial;
  }

  :global {
    .ant-select-dropdown-menu {
      margin: 0;
      max-height: calc(56px * 4);
      -webkit-overflow-scrolling: touch;
    }

    .ant-select-dropdown-menu-item {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 24px;
      line-height: initial;

      &:hover {
        background-color: $basic-50;
      }
    }
  }
}

// select {
//   flex: 1;
//   @include Body-1Basic600Left;
//   border: none;
//   background: transparent;
// }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestItem {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;

  &_left {
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }

  &_title {
    display: flex;

    span {
      margin: 0 4px;
    }
  }

  &_name {
    @include Body-3Basic900Left;
  }

  &_ticker {
    @include Body-1Basic900Left;
  }

  &_id {
    @include Caption-0Basic500Left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_right {
    display: flex;
    align-items: center;
  }

  &_rating {
    @include Body-1Basic500Right;
    display: flex;
    align-items: center;
  }

  &_star {
    &::before {
      @include star__grey;
      content: '';
      display: block;
    }
  }

  &_score {
    margin-top: 1px;
    margin-left: 5px;
  }
}


@media (max-width: $md) {
  .root {
    padding: 24px;
    // position: sticky;
    // top: 0;
    background-color: #f8f9fb;
    z-index: 1;
    // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .dropdown {
    &:global(.ant-select-dropdown) {
      width: 100% !important;
      max-width: calc(540px - 48px);
      margin: 0 auto;
      left: 0 !important;
      right: 0 !important;
      background-color: $basic-50;
    }

    :global {
      .ant-select-dropdown-menu {
        padding: 24px 0;
        max-height: calc(100vh - 150px);
      }

      .ant-select-dropdown-menu-item {
        &:hover {
        }
      }
    }
  }
}