@import "../../styles/fonts";
@import "../../styles/variables/colors";
@import "../../styles/mixins/icons";

.root {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;
  width: 489px;
  height: 579px;
  border-radius: 4px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  margin-bottom: 48px;
}

.header1Font {
  @include Body-4Basic900Centr;
  padding-bottom: 48px;
}

.tooltip {
  padding: 0 5px;
  @include Body-0WhiteRight;
}

.railStyle{
  background-color: $submit-300;
}

.header2Font {
  @include Body-0Basic900Left;
  padding-bottom: 16px;
  //height: 48px;
}

.captionFont {
  @include Body-0Basic600Left;
}

.calculateField {
  display: flex;
  padding-bottom: 32px;
}

.calculateField_col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputField {
  display: flex;
  margin-top: 8px;
  position: relative;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    width: 151px;
    height: 36px;
    border: solid 1px $basic-200;
    border-radius: 0 4px 4px 0;
    outline: none;
    border-left: none;
    padding: 0 28px 0 14px;
    @include Body-0Basic900Left;
  }
}

.rateCount {
  //max-width: 90px;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.wavesIcn {
  @include waves-18-submit-400;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  background-position: center;
  border: solid 1px $basic-200;
}

.btcIcn {
  @include bitcoin-18;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  background-position: center;
  border: solid 1px $basic-200;
}

.btcHelpIcn {
  @include help-22-submit-400;
  min-width: 22px;
  min-height: 23px;
  top: 7px;
  left: 158px;
  position: absolute;
  cursor: pointer;
}

.termInfField {
  display: flex;
  flex-direction: column;
}

.termInfField_buttonSet {
  display: flex;
  margin-bottom: 54px;
}

%checkbox {
  width: 393px;
  height: 36px;
  border: solid 1px $basic-200;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: $basic-900;
  outline: none;
  user-select: none;
  cursor: pointer;
}

%checkbox_selected {
  border: solid 1px $submit-500;
  color: $submit-400;
}

.leftCheckbox {
  @extend %checkbox;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.leftCheckbox_selected {
  @extend %checkbox;
  @extend %checkbox_selected;
  border-radius: 4px 0 0 4px;
}

.rightCheckbox {
  @extend %checkbox;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.rightCheckbox_selected {
  @extend %checkbox;
  @extend %checkbox_selected;
  border-radius: 0 4px 4px 0;
}

.rateField {
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;

}

.flex {
  display: flex;
  align-items: center;
}

.rateField_row {
  display: flex;
  margin-bottom: 12px;
  @include Body-0Basic600Left;
  align-items: center;
  justify-content: space-between;
}

.yellowCaption {
  @include Caption-1Warning400Left;
  padding-bottom: 16px;
  user-select: none;
}

.discardCaption {
  @include Caption-1Warning400Left;
  padding-top: 4px;
  padding-bottom: 16px;
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rateHelpIcn {
  @include help-22-submit-400;
  min-width: 22px;
  min-height: 23px;
  margin-left: 4px;
  cursor: pointer;
}


.rateFont {
  font-family: Roboto;
  font-size: 14px;
  text-align: right;
  color: $basic-900;
  display: flex;
}

.rateFont_waves {
  color: $submit-400;
}

.rateFont_btc {
  color: $warning-600;
}

.submitBnt {
  width: 190px;
  height: 40px;
  border-radius: 4px;
  background-color: $submit-400;
  @include Body-0Basic600Centr;
  outline: none;
  user-select: none;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: $submit-100;
    cursor: not-allowed;
  }
}

.btnField {
  display: flex;
  justify-content: space-between;
}


.loan_section {
  border-top: solid 1px $basic-200;
  border-bottom: solid 1px $basic-200;
  @include Body-0Basic600Left;
  padding: 24px 0 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

.loanField {
  display: flex;
  flex-direction: column;
  //padding-bottom: 80px;

}

.discard{
  border-bottom: 1px solid $warning-400;
  cursor: pointer;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.loanField_row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    padding-bottom: 0;
  }

}

.returnBtn {
  @include Body-0Basic600Centr;
  width: 393px;
  height: 40px;
  border-radius: 4px;
  background-color: $submit-400;
  border: none;
  outline: none;

  &:disabled {
    background-color: $submit-100;
    cursor: not-allowed;
  }
}
