@import '@src/styles/mixins/text';
@import '@src/styles/variables/grid';
@import '@src/styles/variables/colors';

.root {
  display: flex;
  margin-bottom: 50px;
}

.averageStats {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_score {
    span { //TO DO нет mixin
      margin-right: 10px;
      font-family: Roboto;
      font-size: 48px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $basic-900;
    }

    i { //TO DO нет mixin
      font-family: Roboto;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $basic-300;
    }
  }

  &_starRating {
    margin-top: 10px;
  }

  &_totalVoteInUnitType { //TO DO нет mixin
    margin-top: 8px;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    color: $basic-600;
  }
}

.detailtedStats {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.voteUnitTypeFilter {
  display: flex;
  margin-top: 21px;
  padding-left: 33px;

  &_item {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    line-height: initial;
    font-weight: 500;
    color: $disabled-100;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    & + & {
      display: flex;
      align-items: center;
      margin-left: 8px;

      &::before {
        @include Body-1Basic500Left;
        content: '|';
        margin-right: 8px;
      }
    }

    &__isActive {
      @include Body-2Submit400Left;
    }
  }
}

.score {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 16px;
  }

  &_vote {
    @include Body-2Basic700Centr;
    min-width: 25px;
    text-align: right;
  }

  &_percent {
    position: relative;
    height: 16px;
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
    background-color: $basic-100;

    i {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $submit-300;
      transition: width 0.5s;
    }
  }

  &_tokens {
    @include Caption-1Disabled400Left;
    min-width: 36px;
  }
}

@media (max-width: $mobile-l) {
  .averageStats {
    flex-basis: 40%;
  }

  .detailtedStats {
    flex-basis: 60%;
  }
}

@media (max-width: $mobile-m) {
  .averageStats {
    flex-basis: 30%;

    &_score {
      span {
        font-size: 36px;
      }

      i {
        font-size: 24px;
      }
    }
  }

  .detailtedStats {
    flex-basis: 70%;
  }
}
