@import '@src/styles/mixins/icons';
@import '@src/styles/mixins/text';
@import '@src/styles/variables/colors';
@import '@src/styles/mixins/grid';
@import '@src/styles/variables/grid';

.root {
  display: flex;
  padding-top: 28px;
}

.projectLogo {
  display: flex;
  align-items: center;
  margin-right: 48px;

  &::before {
    display: block;
    content: '';
    @include projectLogo;
  }
}

.search {
  flex: 1 1;
}

.actions {
  display: flex;
  margin-left: 48px;

  &_languageSelector {}

  &_faq {
    @include Body-1Basic900Left;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;

    &::before {
      @include faq;
      display: block;
      content: '';
      margin-right: 9px;
    }
  }
}

 @media (max-width: $md) {
  .root {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
  }

  .projectLogo {
    margin: 0;
  }

  .search {
    order: 3;
    flex: 1 1 100%;
    margin-top: 24px;
  }

  .actions {
    margin: 0;
    order: 2;

    &_languageSelector {
      margin: 0;
      padding: 0;
      width: auto;

      div {
        display: none;
      }
    }

    &_faq {
      display: none;
    }
  }
}
