@import "../../styles/variables/colors";
@import "../../styles/mixins/icons";
@import "../../styles/fonts";

.root {
  padding: 115px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $pale-grey;
}

.advBlock {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 256px;
  margin-right: 138px;

  &:last-child{
    margin-right: 0;
  }
}

.infIcon {
  @include example-2-48-submit-400;
  margin-bottom: 24px;
}

.headerFont {
  @include Body-3Basic900Centr;
  margin-bottom: 16px;
}

.captionFont {
  @include Body-1Basic500Centr;
}
