@mixin icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin help {
  @include icon;
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/help.svg");
}

@mixin language__en {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/language__en.svg");
}

@mixin language__ru {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/language__ru.svg");
}

@mixin projectLogo {
  @include icon;
  width: 236px;
  height: 32px;
  background-image: url("../../assets/icons/project-logo.svg");
}

@mixin search {
  @include icon;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/icons/search.svg");
}

@mixin star__filled {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/star__filled.svg");
}

@mixin star__outlined {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/star__outlined.svg");
}

@mixin star__grey {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/star__grey.svg");
}

@mixin process {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/process.svg");
}

@mixin check {
  @include icon;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/check.svg");
}

@mixin faq {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/faq.svg");
}

@mixin question {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/question.svg");
}

@mixin clear {
  @include icon;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/icons/clear.svg");
}

@mixin close {
  @include icon;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/close.svg");
}

@mixin copy {
  @include icon;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/copy.svg");
}
