/* Text styles */

@mixin Headline-1Basic-900Left {
  font-family: Roboto;
  font-size: 20px;
  line-height: initial;
  font-weight: 500;
  color: $basic-900;
}

@mixin Body-1Basic700Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-700;
}

@mixin Body-1Submit400Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $submit-400;
}

@mixin Headline-3Warning400Left {
  font-family: Roboto;
  font-size: 16px;
  line-height: initial;
  color: $warning-600;
}

@mixin Headline-2Basic-700Centr {
  font-family: Roboto;
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  color: $basic-700;
}

@mixin Headline-2Basic-700Left {
  font-family: Roboto;
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  color: $basic-700;
}

@mixin Body-2Basic700Left {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: initial;
  color: #444b5e;
}

@mixin Body-1WhiteCentr {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: #ffffff;
}

@mixin Body-1Basic700Centr {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-700;
}

@mixin Body-1Submit300Right {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $submit-300;
}

@mixin Body-1Basic600Centr {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-600;
}

@mixin Body-1Basic500Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-500;
}

@mixin Caption-2Basic700Left {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  font-weight: 500;
  color: $basic-700;
}

@mixin Caption-1Basic500Right {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  color: $basic-500;
}

@mixin Body-1Basic600Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-600;
}

@mixin Body-3Basic700Left {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: initial;
  color: $basic-700;
}

@mixin Body-1Basic600Right {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-600;
}

@mixin Body-2Basic300Centr {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: initial;
  color: $basic-300;
}

@mixin Caption-1Disabled400Left {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  color: $disabled-100;
}

@mixin Body-2Basic700Centr {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: initial;
  color: $basic-700;
}

@mixin Body-1Basic500Right {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-500;
}

@mixin Body-1Basic900Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  color: $basic-900;
}

@mixin Body-2Basic900Left {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: initial;
  color: $basic-900;
}

@mixin Caption-0Basic500Left {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  font-weight: 300;
  color: $basic-500;
}

@mixin Body-3Basic900Left {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: initial;
  color: $basic-900;
}

@mixin Headline-2Basic900Left {
  font-family: Roboto;
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  color: $basic-900;
}

@mixin Body-1Basic300Centr {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  font-weight: 500;
  color: $basic-300;
}

@mixin Caption-2Basic900Lef {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  font-weight: 500;
  color: $basic-900;
}

@mixin Caption-1Basic600Right {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  color: $basic-600;
}

@mixin Body-1Basic700Centr {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  font-weight: 500;
  color: $basic-700;
}

@mixin Headline-2Basic900Centr {
  font-family: Roboto;
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  color: $basic-900;
}

@mixin Body-2Submit400Right {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  font-weight: 500;
  color: $submit-400;
}

@mixin Caption-1Submit300Right {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  color: $submit-300;
}

@mixin Body-3Disabled400Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  font-weight: 500;
  line-height: initial;
  color: $disabled-100;
}

@mixin Body-2Submit400Left {
  font-family: Roboto;
  font-size: 14px;
  line-height: initial;
  font-weight: 500;
  color: $submit-400;
}

@mixin Caption-0Basic300Centr {
  font-family: Roboto;
  font-size: 9px;
  line-height: initial;
  font-weight: 500;
  line-height: initial;
  color: $submit-300;
}

@mixin Caption-1Submit300Centr {
  font-family: Roboto;
  font-size: 12px;
  line-height: initial;
  color: $submit-300;
}