@import '@src/styles/mixins/icons';

.starRating {
  display: flex;

  &__size_s {
    .starRating_item {
      &::before,
      &::after {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__size_m {
    .starRating_item {
      &::before,
      &::after {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.starRating_stars {
  display: flex;

  &__editable:not(:hover),
  &:not(&__editable) {
    &[data-count='1']  .starRating_item:nth-child(-n+1),
    &[data-count='2']  .starRating_item:nth-child(-n+2),
    &[data-count='3']  .starRating_item:nth-child(-n+3),
    &[data-count='4']  .starRating_item:nth-child(-n+4),
    &[data-count='5']  .starRating_item:nth-child(-n+5) {
      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }
  }
}

.starRating_stars {
  &__editable {
    .starRating_item {
      cursor: pointer;
    }

    &:hover {
      .starRating_item:hover ~ .starRating_item {
        &::before {
          display: block;
        }

        &::after {
          display: none;
        }
      }

      .starRating_item {
        &::before {
          display: none;
        }

        &::after {
          display: block;
        }
      }
    }
  }
}

.starRating_item {
  touch-action: manipulation;

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::after {
    display: none;
  }

  &::before {
    @include star__outlined;
  }

  &::after {
    @include star__filled;
  }
}
