@import "../../styles/variables/colors";
@import "../../styles/fonts";
@import "../../styles/mixins/icons";

.root {
  padding: 112px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white;
  width: 1110px;
  margin: auto;
}


.howItWorksBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.takeLoanBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.wbIcon {
  @include illustration-wb;
  width: 240px;
  background-repeat: no-repeat;
}

.header1Font {
  @include Headline-2Basic900Left;
  padding-bottom: 64px;
}

.header2Font {
  @include Headline-1Basic900Left;
  text-align: left;
  padding-bottom: 48px;
}

.itemFont {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  @include Body-1Basic900Left;
}

.caption1Font {
  @include Body-1Basic500Left;
  padding: 24px 0 8px 0;
}

.caption2Font {
  @include Body-1Basic500Left;
}

.caption3Font {
  @include Body-1Basic500Centr;
  width: 320px;
  padding: 32px 0;
}

.takeBtn {
  @include Body-2Submit400Left;
  display: flex;
  align-items: flex-end;
  user-select: none;
  cursor: pointer;
}

.arrow {
  @include arrow-20-submit-400;
  margin-left: 8px;
}

.oval {
  background-color: $submit-400;
  min-width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 16px;
}
