@import '@src/styles/variables/colors';

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-color: $basic-50;
}

.layout {
  &_header {
    
  }

  &_content {
    
  }
}