@import '@src/styles/mixins/icons';
@import '@src/styles/mixins/text';
@import '@src/styles/variables/colors';

.dropdown {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 115px;
  cursor: pointer;
  user-select: none;

  &_icon {
    margin-right: 8px;
    
    &::before {
      display: block;
      content: '';
    }

    &__en {
      &::before {
        @include language__en;
      }
    }

    &__ru {
      &::before {
        @include language__ru;
      }
    }
  }   

  &_title {
    @include Body-1Basic900Left;
  }
}

.languages { //ant-dropdown
  color: red;
  user-select: none;

  :global {
    .ant-dropdown-menu {
      margin: 0;
      width: 160px;
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .ant-dropdown-menu-item {
      display: flex;
      align-items: center;
      height: 42px;
      padding: 0;
      line-height: initial;

      &:hover {
        background-color: $basic-50;
      }
    }
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 42px;
  padding: 0 16px;
  cursor: pointer;

  &_left,
  &_right {
    display: flex;
    align-items: center;
  }

  &_flag {
    margin-right: 8px;

    &::before {
      display: block;
      content: '';
    }
  }

  &_title {
    @include Body-1Basic900Left;
  }

  &_check {
    &::before {
      display: none;
      content: '';
      @include check;
    }
  }

  &__abbr_en {
    .language_flag {
      &::before {
        @include language__en;
      }
    }
  }

  &__abbr_ru {
    .language_flag {
      &::before {
        @include language__ru;
      }
    }
  }

  &__active {
    .language_check {
      &::before {
        display: block;
      }
    }
  }
}
