@import '@src/styles/mixins/text';
@import '@src/styles/variables/colors';

.root {
  border-radius: 2px;
  background-color: #e8eefe;

  &__size_s {
    @include Caption-0Basic300Centr;
    padding: 2px 4px;
  }

  &__size_m {
    @include Caption-1Submit300Centr;
    padding: 4px;
  }
}
